set timeout=10
set default=0

insmod all_video
insmod png

set theme=/boot/grub/themes/piper/theme.txt
export theme

menuentry "Piper OS" {
    multiboot /boot/kernel.bin
    boot
}

menuentry "Reboot" {
    reboot
}

menuentry "Shutdown" {
    halt
}
